@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&family=Righteous&display=swap');
/*font-family: 'Recursive', sans-serif;*/
*{
    box-sizing: border-box;
}
body{
    background-color: #FB6C6B;
}
button{
    cursor: pointer;
}
/* initial page*/
.InitialPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
}
.ZapDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.ZapDiv h1{
    width: 152px;
    height: 35px;

    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.012em;
}
.InitialPage button{
    width: 160px;
    height: 60px;
    background-color: #fff;
    color: red;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Recursive', sans-serif;;
    font-size: 17px;
    cursor: pointer;
}
/* card page*/
header{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
header div{
    display: flex;
    background-color: #FB6C6B;
}
h1{
    color: #fff;
    font-family: 'Righteous', cursive;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 25px;
}
header img{
    width: 60px;
    height: 60px;
}
main{
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.initial-question-container{
    width: 300px;
    height: 65px;
    background-color: #fff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 5px;
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.initial-question-container button{
    z-index: -5;
    background-color: #fff;
    border: none;
}
.initial-question-container img{
    width: 15px;
    height: 15px;
    color: black;
    margin-right: 7px;
    cursor: pointer;
}

.question-container{
    width: 299px;
    height: 131px;
    background-color: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 5px;
    position: relative;
    font-size: 12px;
}
.question-container span,.initial-question-container span,.answer-container span{
    display: flex;
    justify-content: flex-start;
    padding: 8px 5px;
    font-family: 'Recursive', sans-serif;
    color: #333333;
    font-size: 18px;
    max-height: 40px;
}
.question-container button{
    bottom: 5px;
    right: 5px;
    position: absolute;
    border: none;
    background-color: #FFFFD5;
    font-size: 12px;
}
.answer-container{
    width: 300px;
    height: 131px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 5px;
    position: relative;
    font-size: 12px;
    font-family: 'Recursive', sans-serif;
}
.answer-container div{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 5px;
    width: 100%;
}
.answer-container button{
    width: 85px;
    height: 35px;
    border-radius: 5px;
    border: none;
    font-family: 'Recursive', sans-serif;
    font-size: 12px;
}
.bt1{
    background-color: red;
}
.bt2{
    background-color: yellow;
}
.bt3{
    background-color: green;
}
.initial-question-container  .forgot{
    text-decoration: line-through;
    color:#FF3030 ;
}
.initial-question-container .almost{
    text-decoration: line-through;
    color: #FF922E;
}
.initial-question-container .zap{
    text-decoration: line-through;
    color: #2FBE34;;
}

footer{
    width: 100%;
    height: 70px;
    align-items: center;
    bottom: 0;
    position: fixed;
    background-color: #fff;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.footer2{
    height: 171px;
}
footer span{
    font-family:'Recursive', sans-serif;
    width: 222px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer2 span {
    display: flex;
    width: auto;
}
.footer2 div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress-message{
    font-family:'Recursive', sans-serif;
    width: 222px;
    height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    text-align: center;
}
footer .progress{
    display: flex;
    margin-bottom: 10px;
}
.progress img{
    width: 23px;
    height: 23px;
    margin-right: 5px;
}
.footer2 img{
    width: 23px;
    height: 23px;
    margin-right: 10px;
}